
*{
    margin: 0%;
    padding: 0%;
    font-family: "Noto Sans","Helvetica Neue","Helvetica","Arial","Liberation Sans","Roboto","Noto",sans-serif;
    color: rgb(32, 32, 32);
    font-size: 0.9rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

div.head{
    display: flex;
    
    background: linear-gradient(to bottom right, #175fb1 0%, #ffffff 53.5%);
    padding: 2rem;
    padding-left: 1.8rem;
    /* border-top-left-radius: 125px; */
}
div.img > img{
    max-height: 13rem;
    box-shadow: 0.1rem 0.1rem  0.1rem #175fb1;
    padding: 1%;
    margin: 0%;
    border-radius: 50%;
}
div.text{
    padding: 2rem;
}
.text > h1,.text > h3{
    line-height: 2rem;
    
}
.text > h3{
    padding-bottom: 2.5rem;

}
span{
    font-size: 48px;
}
.text > p{
    padding-left: 14rem;
    line-height: 1.2rem;
}   
div.data{
    display: grid;
    grid-template-columns: 280px auto;

} 

div.section{
    background-color:  rgb(237, 245, 255);
    border-radius: 70px;
    padding-left: 1rem;
    


}
#link, .dob, .extra, .soft , .lang {
    display: flex;
    padding: 2rem;
    /* padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem; */
}



div.profile{
    /* background-color: rgb(255, 131, 131); */
    padding: 2rem;
    line-height: 1.2rem;
}
div > h2 {
    padding-bottom: 0.7rem;
}

.Sum, .edu, .skill{
    padding-bottom: 2rem;
}
div.space{
    padding-left: 5%;
}
div.space>h3{
    display: inline-block;
}
.skill>.space{
    /* display: grid; */
    grid-template-columns: auto auto;
}

li{
    list-style: none;
    border: 0.1px solid rgb(227, 239, 255);
    padding: 3px;
    border-radius: 25px;
    margin-top: 7px;
}

li > .a{
    border-radius: 24px;
    width: 1%;
    height: 100%;
    background-color: #c9e2ff;
    color: #000000;
    padding-left: 3%;
    margin: 0%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: a1;
}
@keyframes a1 {
    0%{
        width: 1%;
    }
    100%{
        width:80%;
    }
}
li > .b{
    border-radius: 24px;
    width: 1%;
    height: 100%;
    background-color: #c9e2ff;
    color: #000000;
    padding-left: 3%;
    margin: 0%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: b1;
}
@keyframes b1 {
    0%{
        width: 1%;
    }
    100%{
        width:80%;
    }
}
li > .c{
    border-radius: 24px;
    width: 1%;
    height: 100%;
    background-color: #c9e2ff;
    color: #000000;
    padding-left: 3%;
    margin: 0%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: c1;
}
@keyframes c1 {
    0%{
        width: 1%;
    }
    100%{
        width:70%;
    }
}
li > .d{
    border-radius: 24px;
    width: 1%;
    height: 100%;
    background-color: #c9e2ff;
    color: #000000;
    padding-left: 3%;
    margin: 0%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: d1;
}
@keyframes d1 {
    0%{
        width: 1%;
    }
    100%{
        width:40%;
    }
}
li > .e{
    border-radius: 24px;
    width: 1%;
    height: 100%;
    background-color: #c9e2ff;
    color: #000000;
    padding-left: 3%;
    margin: 0%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: e1;
}
@keyframes e1 {
    0%{
        width: 1%;
    }
    100%{
        width:30%;
    }
}
li > .f{
    border-radius: 24px;
    width: 1%;
    height: 100%;
    background-color: #c9e2ff;
    color: #000000;
    padding-left: 3%;
    margin: 0%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: f1;
}
@keyframes f1 {
    0%{
        width: 1%;
    }
    100%{
        width:40%;
    }
}
li > .g{
    border-radius: 24px;
    width: 1%;
    height: 100%;
    background-color: #c9e2ff;
    color: #000000;
    padding-left: 3%;
    margin: 0%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: g1;
}
@keyframes g1 {
    0%{
        width: 1%;
    }
    100%{
        width:40%;
    }
}
li > .h{
    border-radius: 24px;
    width: 1%;
    height: 100%;
    background-color: #c9e2ff;
    color: #000000;
    padding-left: 3%;
    margin: 0%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: h1;
}
@keyframes h1 {
    0%{
        width: 1%;
    }
    100%{
        width:70%;
    }
}
li > .i{
    border-radius: 24px;
    width: 1%;
    height: 100%;
    background-color: #c9e2ff;
    color: #000000;
    padding-left: 3%;
    margin: 0%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: i1;
}
@keyframes i1 {
    0%{
        width: 1%;
    }
    100%{
        width:90%;
    }
    
}
@media screen and (max-width: 900px) {
    
    div.data{
        display: grid;
        grid-template-columns: auto ;
    
    } 
    
  }